@{
    ViewBag.Title = "CancelConfirmation";
}

<h2>Cancel Reservation Confirmation</h2>

<p>Your reservation (@ViewBag.ID) has been canceled.  We're sorry, but we're keeping your money.</p>
<br />
<p>Click @Html.ActionLink("here", "List") for a list of reservations.</p>