<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commandRoutes" type="AgileWays.Cqrs.Commanding.SectionHandler.CommandRouteSection, AgileWays.Cqrs.Commanding"/>
  </configSections>

  <connectionStrings>
    <add name="DB" connectionString="server=AGILE-L03\DSHSQL08_1;initial catalog=Conference;uid=sa;pwd=P@n0ptic;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <commandRoutes>
    <routes>
      <add command="CreateReservation" routesToClass="AgileWays.Cqrs.Domain.Conference.Reservation,AgileWays.Cqrs.Domain.Conference" usingMethod="CreateNewReservation"></add>
      <add command="CancelReservation" routesToClass="AgileWays.Cqrs.Domain.Conference.Reservation,AgileWays.Cqrs.Domain.Conference" usingMethod="CancelReservation"></add>
    </routes>
  </commandRoutes>


  <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type=""/>
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
